html, body {
    margin: 0;
}

.full-screen-video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.full-screen-video-container video {
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.full-screen-video-content {
    background-color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 100px;
    color: #333;
    margin-top: 100px;
}