*, *::before, *::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.progress-bar {
	position: relative;
	width: 500px;
	height: 3em;
	background-color: #111;
	border-radius: 1.5em;
	color: white;
}

.progress-bar::before {
	content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: .5em;
	top: .5em;
	bottom: .5em;
	width: calc(var(--width, 0) * 1%);
	min-width: 2rem;
	max-width: calc(100% - 1em);
	background-color: #069;
	border-radius: 1em;
	padding: 1em;
}